* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

/* header section */
header {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    background-color: orange;
    color: #252525;
}

.header-sec {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-sec a {
    color: #252525;
    text-decoration: none;
}

.header-sec a:hover {
    background-color: #252525;
    padding: 10px;
    border-radius: 25px;
    color: orange;
}

/* header section */