* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

.container {
    max-width: 1100px;
    padding: 1em 2em;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 1em;
    border: 4px solid orange;

}

ul li {
    list-style-type: none;
}

/* nav-bar codes */
.nav-bar {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 28px;
    font-weight: bold;
    color: #252525;
}

.header-links ul {
    display: flex;
    gap: 2em;
}

.header-links ul li {
    font-size: 18px;
}

.header-links ul li a {
    text-decoration: none;
    color: #4e4c4c;
}

.header-links ul li a:hover {
   color: #252525;
    
}

/* nav-bar codes */


/* main content codes */
.main-content {
    background-color: #252525;
    padding: 2em 1em;
}

.main-content .container {
    width: 100%;
    margin: 3em auto;
}

.recipe-menu .menu-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5em;
    align-content: center;
}
/* main content codes */

/* footer content codes */
footer {
    background-color: orange;
    font-size: 15px;
    padding: 3em;
    display: flex;
    justify-content: center;
}

footer .container {
    display: flex;
}

footer .container .footer-items  {
    display: flex;
    gap: 2em;
}

.footer-items p {
    color: black;
}

.footer-items a {
    color: inherit;
    text-decoration: none;
}

.footer-items a:hover {
    color: #4e4c4c;
}




@media (max-width: 750px) {
    img {
        width: 200px;
        height: 200px;
    }
    .nav-bar .container {
        flex-direction: column;
        gap: 0.5em
        ;
    }

    .header-logo {
        font-size: 22px;
    }

    .header-links ul li {
        font-size: 16px;
        margin: 1em 0.5em 0 0.5em;
    }

    footer .container .footer-items {
        display: block;
        text-align: center;
    }

    .footer-items p {
        margin: 0.5em;
    }


}


