* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

/* header section */
header {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    background-color: orange;
    color: #252525;
}

.header-sec {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
/* header section */