* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    padding: 0 3em;
    max-width: 1140px;
}

ul {
    display: block;
    list-style-type: none;
}

ul li {
    font-size: 16px;
}

ul li a {
    color: #252525;
    text-decoration: none;
}

.nav-bar {
    background-color: orange;
    padding: 2em;
    height: 60px;
}

.nav-bar .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links ul {
    display: flex;
    gap: 2em;
}




